.container {
  max-width: fit-content;
  padding-top: 1rem;
}

.title {
  padding-top: 1rem;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  width: 40rem;
}
