<div class="row">
  <div class="column left">
    <app-line-number></app-line-number>
  </div>
  <div class="column middle">
    console.log &#40; "Hello World!" &#41;&#59;
    <br>
    <br>
    aboutMe &#40; &#41; &#123;
    <br>
    <br> `My name is Christopher Le, I am currently a Frontend Developer! I graduated in 2020 from the University of
    Texas at Arlington with a Bachelors of Science in Information Sytems. I love being a Frontend Developer because
    first, I get to create something people see and use everyday which excites me and second, there's so much to learn
    in this career.`
    <br>
    <br>
    background &#40; &#41; &#123;
    <br>
    <br> `I was born and raised in Carrollton, Texas, go Mavericks! As a kid, I played a lot of sports, basketball being
    my favorite. I started playing video games my freshman year of high school on a laptop but my senior year of high
    school is where I really got addicted to games because that was when I built my first PC. I would say building my PC
    was the spark that started my interest in tech.`
    <br>
    <br>
    &#125;
  </div>
  <div class="column right">
    <carousel>
      <slide>
        <img src="\assets\images\aboutpic.jpg" alt="first slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="\assets\images\snow.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="\assets\images\IMG-3236.jpg" alt="second slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
    <!-- <img src="/assets/images/aboutpic.jpg" height="900px" width="700px"> -->
  </div>
</div>
