<div class="container">
  <div class="row">
    <div class="column">
      <h1>Chris' Visual Studio Code</h1>
      <h2>Editing Evolved</h2>
      <br>
      <h4>Start</h4>
      <a class="button" routerLink="/about-me">About Me</a>
      <br>
      <a class="button" routerLink="/contact">Contact</a>
      <br>
      <a class="button" href="\assets\ChristopherLeResume.pdf" download="ChristopherLeResume.pdf">Resume</a>
      <br>
      <a class="button" href="https://github.com/Chrisle14820" target="_blank">GitHub</a>
      <br>
      <br>
      <h4>Recent</h4>
      <a class="button" routerLink="/projects">projects</a> &nbsp; C:\users\chrisle\projects
    </div>
    <div class="column">
      <h4 class="column-two">Skills</h4>
      <p>HTML</p>
      <progressbar [max]="10" type="warning" [value]="8" [striped]="true" [animate]="true"><i>8 / 10</i></progressbar>
      <br>
      <p>CSS</p>
      <progressbar [max]="10" [value]="8" [striped]="true" [animate]="true"><i>8 / 10</i></progressbar>
      <br>
      <p>JavaScript</p>
      <progressbar [max]="10" type="success" [value]="7" [striped]="true" [animate]="true"><i>7 / 10</i></progressbar>
      <br>
      <p>TypeScript</p>
      <progressbar [max]="10" [value]="7" [striped]="true" [animate]="true"><i>7 / 10</i></progressbar>
      <br>
      <br>
      <h4>Frameworks</h4>
      <p>Angular</p>
      <progressbar [max]="10" type="danger" [value]="6" [striped]="true" [animate]="true"><i>6 / 10</i></progressbar>
      <br>
      <p>ASP.net</p>
      <progressbar [max]="10" type="success" [value]="5" [striped]="true" [animate]="true"><i>5 / 10</i></progressbar>
      <br>
      <br>
      <h4>Version Control</h4>
      <p>Git</p>
      <progressbar [max]="10" type="warning" [value]="9" [striped]="true" [animate]="true"><i>9 / 10</i></progressbar>
    </div>
  </div>
</div>
