<h1>Projects</h1>
<div class="container">
  <div class="row">
    <div class="column left">
      <div class="card">
        <h2><a href="https://github.com/Chrisle14820/makeup-store">Makeup Store</a></h2>
        <hr>
        <div class="card-body">
          <img class="image" src="assets\images\Makeup.png" />
        </div>
      </div>
      <br>
      <div class="card">
        <h2><a href="https://github.com/Chrisle14820/type-test">Typing Test</a></h2>
        <hr>
        <div class="card-body">
          <img class="image" src="assets\images\typing.png" />
        </div>
      </div>
      <br>
    </div>
    <div class="column right">
      <div class="card">
        <h2><a href="https://omnioutdoorliving.com/">Omni Outdoor Living Website</a></h2>
        <hr>
        <div class="card-body">
          <img class="image" src="assets\images\OOL.png" />
        </div>
      </div>
      <br>
      <div class="card">
        <h2><a href="https://github.com/nickiti/meyer-onboarding">Meyer Onboarding</a></h2>
        <hr>
        <div class="card-body">
          <img class="image" src="assets\images\Onboard.png" />
        </div>
      </div>
    </div>
  </div>
</div>
