/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-link {
  padding: 0px;
}

.routing_link {
  display: block;
  padding: .5rem 1rem;
  font-family: 'Roboto Mono', monospace;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0px 2px !important;
}
